#erroNomeCadastro, #erroNomeEdicao, #erroCpfCadastro, #erroCpfEdicao,
 #erroEmailCadastro, #erroEmailEdicao, #erroEmailConfirmCadastro, #erroEmailConfirmEdicao{
    display: none;
    font-family: narrow, arial;
    font-size: 11pt;
}

#msgEditado, #msgErro, #msgExcluido, #msgCadastrado{
    display: none;
}

.principal{
   margin: 50px auto;
   width: 80%;
}

#inputProcura{
    height: 100%;
}

@media screen and (max-width: 600px){
    
    .principal{
        margin: 50px auto;
        width: 100%;
     }

     .header{
        margin-left: auto !important;
     }

     #inputProcura{
        height: 100%;
        width: 70% !important;
    }
     
}